.settings-container {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 320px;
  padding: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 160;
  transition: 0.5s;
  box-shadow: 0 0 5px #afafaf;
  overflow-y: scroll;
  box-sizing: border-box;
}

.settings__name {
  font-size: 3em;
  font-weight: 100;
}

.settings__price-container {
  margin-top: 50px;
}

.settings__price-header {
  color: #535353;
  font-weight: 200;
}

.settings__price-p {
  font-weight: bold;
}

.main__header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100vw;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  z-index: 150;
}

.initial-setup__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.initial-setup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 300px;
  border-radius: 20px;
  background-color: white;
}

.initial-setup__p {
  color: #535353;
  font-size: 0.8rem;
}

.initial-setup__form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.initial-setup__button--confirm {
  width: 150px;
  height: 50px;
  margin-top: 40px;
  border-radius: 100px;
}
.initial-setup__input {
  width: 130px;
  height: 40px;
  padding: 0 10px;
}

.toggle-setting {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 80px;
  height: 40px;
  z-index: 190;
}

.archive__button {
  position: fixed;
  right: 90px;
  height: 30px;
  width: 60px;
  border: 1px solid #a7a7a7;
  background: white;
  border-radius: 1rem;
}

.archive__button::after {
  content: '';
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid #a7a7a7;
  background-color: #f0f0f0;
  position: absolute;
  top: -1px;
  left: -1px;
  transition: 0.3s ease-out;
}

.archive__button--archived::after {
  transform: translateX(99%);
}

.archive__button-img {
  position: absolute;
  height: 20px;
  width: 20px;
  object-fit: contain;
  top: 4px;
  z-index: 10;
}

.archive__button-img--wine {
  left: 4px;
}

.archive__button-img--archive {
  right: 4px;
}

.search {
  width: 30%;
  padding: 0 20px;
  max-width: 300px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid #a7a7a7;
  text-transform: lowercase;
}
